# Next.js & Auth
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=https://yourdomain.com
NEXTAUTH_SECRET=
ADMIN_EMAIL=your@email.com

# Database
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# OAuth Providers
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# Resend
RESEND_API_KEY=
EMAIL_FROM=

# Rate Limits (Upstash)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
